@import "../scss/mixin";

.link-list {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0rem auto;

    @include respond(miniLaptop) {
        width: 80%;
    }

    @include respond(phone) {
        width: 85%;
    }

    @include respond(miniPhone) {
        width: 90%;
    }
}