.social-links {
    margin: 2rem auto;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;



    & a {
        display: block;
        text-decoration: none;

        &:first-child {
            margin-right: 2rem;
        }
    }

}