@import "../scss/mixin";
@import "../scss/base";

.contact-section {
    width: 60%;
    margin: 7rem auto 14rem;


    @include respond(miniLaptop) {
        width: 80%;
    }

    @include respond(tablet) {
        width: 85%;
    }



    & h2 {
        font-size: 3.6rem;
        font-weight: 600;
        color: $color-dark;
    }

    & .intro-text {
        margin: 2rem 0 4rem;
        font-size: 2rem;
        font-weight: 400;
        color: #475467;
    }


}