@import "/src/Components/scss/base";
@import "/src/Components/scss/mixin";

*::before,
*::after,
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 87.5%; //1rem = 14px

  @include respond(bigLaptop) {
    font-size: 75%; //1rem = 12px
  }

  @include respond(laptop) {
    font-size: 62.5%; //1rem = 10px    
  }

  @include respond(miniTablet) {
    font-size: 56.25%; //1rem = 9px    
  }
}

body {
  font-family: $font-display;
}

img {
  max-width: 100%;
}

.App {
  width: 70%;
  margin: 0 auto;
  position: relative;

  @include respond(bigLaptop) {
    width: 85%;
  }

  @include respond(laptop) {
    width: 100%;
  }
}

input {
  font-size: 16px !important;
}